<div class="hero">
  <div class="text-content">
    <div class="button-wrapper">
      <div class="super-simple">
        -- EXPERT MEDICAL TREATMENT
      </div>
    </div>
    <h1>We follow a </h1>
    <h1>holistic approach </h1>
    <h1>to health care</h1>
    <p class="subtext">Get amazing care from our specialist doctors</p>
  </div>
  <div class="image">
    <img src="assets/images/hero-doctor.png" alt="Doctor Hero Image">
  </div>
</div>

<!-- Image section after hero -->
<div class="image2">
  <img src="assets/images/Insurance-list.png" alt="insurance-list">
</div>