  <header>
    <div class="header-left">
      <img src="assets/images/white-bg-logo.png" alt="Amaze Care Logo" class="logo">
      <span class="title">Amaze Care</span>
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/departments">Departments</a>
        <a routerLink="/appointments">Appointments</a>
        <a routerLink="/contact">Contact</a>
      </nav>
    </div>
    <div class="header-right">
      <nav>
        <a routerLink = "auth/login" routerLinkActive = active>Login</a>
        <a routerLink = "auth/signup" routerLinkActive = active>Signup</a>
    </nav>
    </div>
  </header>
  