<footer>
    <div class="footer-content">
      <div class="footer-logo-socials">
          <img src="assets/images/white-bg-logo.png" alt="Amaze Care Logo" class="logo" (click)="scrollToTop()">
          <div class="social-icons">
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> </a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> </a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> </a>
        </div>
      </div>
      <div class="amaze-care" (click)="scrollToTop()">
        <div>
          <h4>Amaze</h4>
          <h4>Care</h4>
        </div>
      </div>
      <div class="footer-links">
        <div>
          <h4>Home</h4>
          <a routerLink="/home">Home</a>
        </div>
        <div>
          <h4>Departments</h4>
          <a href="#" target="_blank">Cardiology</a>
          <a href="#" target="_blank">Neurology</a>
          <a href="#" target="_blank">Orthopedics</a>
        </div>
        <div>
          <h4>Appointments</h4>
          <a routerLink="/home">Book Appointment</a>
        </div>
        <div>
          <h4>Contact</h4>
          <a routerLink="/contact">Contact</a>
        </div>
        <div id="map">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.266367673608!2d77.00444977452013!3d11.018630554680547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859030ea11999%3A0xe4e7cf2ff5b622d9!2sPSG%20Hospitals!5e0!3m2!1sen!2sin!4v1726891007119!5m2!1sen!2sin" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </footer>
  